<template>
    <div class="container py-3">
        <h1 class="fw-bold">
            <span>SolarNet</span>
            <span class="lead">Online flare forecasting</span>
        </h1>

        <div class="d-flex align-items-end mb-3">
            <div>
                <label for="date-input" class="form-label">Observation date</label>
                <input
                    id="date-input"
                    class="form-control date-input"
                    type="datetime-local"
                    placeholder="Date"
                    min="1900-01-01T00:00"
                    max="2030-01-01T00:00"
                    step="1"
                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"
                    required
                    v-model="requested_datetime"
                    title="With format YYYY-MM-DDTHH:MM:SS"
                />
            </div>

            <button class="btn btn-primary ms-3" @click="predict" :disabled="loading">Predict</button>
        </div>

        <hr>

        <div class="mb-3"
             title="The image data that is closest to the requested date/time have been found at this date.">
            <span>Checking prediction at closest date: </span>
            <span v-if="error === false && loading === false"
                  class="font-monospace text-success">{{ datetime_string }}</span>
            <span v-else class="font-monospace">...</span>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <img :src="imgSrc"/>
                <div class="text-center text-muted">
                    <span v-if="error === false && loading === false">
                        The Sun magnetogram at {{ datetime_string }}</span>
                    <span v-else>...</span>
                </div>
            </div>
            <div class="col-6">
                <h6>Prediction for next 24 hours</h6>
                <div v-if="error === true" class="text-danger">An error occurred. Please try again or contact the
                    author.
                </div>
                <div v-else-if="loading === false">
                    <h3 :class="['font-monospace', pred_class]">{{ pred_text }}</h3>
                    <div title="Highest possible value is 1.0">
                        Probability: <span class="font-monospace">{{ confidence }}</span></div>
                </div>
                <div v-else>Loading...</div>
            </div>
        </div>

        <div>
            <h2>About</h2>

            <p>This application forecasts solar flares from live data. It uses deep-learning models prepared as part of
                the SolarNet project, which is being presented at the <a href="https://ml-helio.github.io/">ML-Helio</a>
                conference.
                You can check the <a href="https://gitlab.com/jdonzallaz/solarnet-app/">code</a> of this application,
                the SolarNet <a href="https://gitlab.com/jdonzallaz/solarnet">library</a> and its <a
                    href="https://jdonzallaz.gitlab.io/solarnet/">documentation</a>.</p>
            <p>You can use <a href="/docs">the online API</a> to make your own requests and predictions.
                The model used is described in the
                <a href="https://jdonzallaz.gitlab.io/solarnet/models/solarnet-ssl-bz-ft-month/">documentation</a>.
                Data is fetched from <a href="https://api.helioviewer.org/docs/v2/">Helioviewer API</a>.</p>
            <p>Any question? Contact me! <a href="mailto:jonathan.donzallaz@hefr.ch">Jonathan Donzallaz</a></p>
        </div>
    </div>
</template>

<script>
import { request } from "./request";
import placeholderImage from "./../placeholder.png";

export default {
    name: "App",
    data: () => ({
        pred: "None",
        requested_datetime: "",
        imgSrc: placeholderImage,
        loading: false,
        error: false,
        confidence: 0,
        date: "",
    }),
    computed: {
        datetime_string() {
            return this.date ? new Date(this.date).toLocaleString() : "";
        },
        pred_text() {
            return this.pred === "no-flare" ? "No flare" : "≥C-class flare";
        },
        pred_class() {
            return this.pred === "no-flare" ? "text-success" : "text-warning";
        },
    },
    mounted() {
        const now = new Date();
        this.requested_datetime = now.toISOString().split(".")[0];

        this.predict();
    },
    methods: {
        async predict() {
            this.loading = true;
            this.error = false;
            this.imgSrc = placeholderImage;
            this.date = "";

            if (this.requested_datetime.length === 16)  // missing seconds field
                this.requested_datetime += ":00";

            try {
                const { prediction, confidence, date } = await request(`predict`, {
                    method: "POST",
                    body: {
                        date: this.requested_datetime,
                    },
                });

                this.pred = prediction;
                const cleaned_date = date.replace(/[-:]/g, "");
                this.imgSrc = `static/images/HMI_${cleaned_date}_1024.jpg`;
                this.confidence = confidence.toFixed(2);
                this.date = date;
            } catch (e) {
                this.error = true;
            }

            this.loading = false;
        },
    },
};
</script>

<style scoped>
.date-input {
    max-width: 260px;
}

img {
    max-width: 100%;
}
</style>
